USE [master]
GO
/****** Object:  Database [Wellmeadows]    Script Date: 3/7/2026 2:16:20 AM ******/
CREATE DATABASE [Wellmeadows]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wellmeadows_DAT', FILENAME = N'C:\B6602789\DB_6602789\Wellmeadows.mdf' , SIZE = 8192KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Wellmeadows_LOG', FILENAME = N'C:\B6602789\DB_6602789\Wellmeadows.ldf' , SIZE = 5120KB , MAXSIZE = 5120KB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wellmeadows].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wellmeadows]
GO
/****** Object:  Table [dbo].[Clinics]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinics](
	[clinic_no] [int] NOT NULL,
	[clinic_name] [varchar](100) NULL,
	[clinic_address] [varchar](255) NULL,
	[tel] [varchar](15) NULL,
	[type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[clinic_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientAppointments]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAppointments](
	[appointment_no] [int] NOT NULL,
	[patient_no] [int] NULL,
	[staff_no] [int] NULL,
	[appointment_date] [date] NULL,
	[appointment_time] [time](7) NULL,
	[examination_room] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_no] [int] NOT NULL,
	[patient_firstname] [varchar](100) NULL,
	[patient_lastname] [varchar](100) NULL,
	[patient_DOB] [date] NULL,
	[address] [varchar](255) NULL,
	[tel] [varchar](15) NULL,
	[sex] [varchar](10) NULL,
	[marital_status] [varchar](50) NULL,
	[congenital_disease] [varchar](100) NULL,
	[date_registered] [date] NULL,
	[next_of_kin_name] [varchar](100) NULL,
	[next_of_kin_relationship] [varchar](50) NULL,
	[next_of_kin_address] [varchar](255) NULL,
	[next_of_kin_telephone] [varchar](15) NULL,
	[clinic_no] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceWards]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceWards](
	[performance_id] [int] NOT NULL,
	[ward_no] [int] NULL,
	[staff_no] [int] NULL,
	[performance_score] [decimal](5, 2) NULL,
	[review_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[performance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmaceuticals]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmaceuticals](
	[drug_no] [int] NOT NULL,
	[drug_name] [varchar](100) NULL,
	[description] [varchar](255) NULL,
	[dosage] [varchar](50) NULL,
	[method_of_administration] [varchar](50) NULL,
	[quantity_in_stock] [int] NULL,
	[reorder_level] [int] NULL,
	[cost_per_unit] [decimal](10, 2) NULL,
	[supplier_no] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[drug_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[qualification_id] [int] NOT NULL,
	[staff_no] [int] NULL,
	[qualification_type] [varchar](100) NULL,
	[institution_name] [varchar](100) NULL,
	[date_of_qualification] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[qualification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisitions]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisitions](
	[requisition_no] [int] NOT NULL,
	[staff_no] [int] NULL,
	[ward_no] [int] NULL,
	[supply_type] [varchar](20) NULL,
	[item_no] [int] NULL,
	[drug_no] [int] NULL,
	[quantity_required] [int] NULL,
	[date_ordered] [date] NULL,
	[date_received] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[requisition_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_no] [int] NOT NULL,
	[first_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[phone_number] [varchar](15) NULL,
	[DOB] [date] NULL,
	[sex] [varchar](10) NULL,
	[NIN] [varchar](15) NULL,
	[position] [varchar](50) NULL,
	[current_salary] [decimal](10, 2) NULL,
	[salary_scale] [varchar](50) NULL,
	[contract_type] [varchar](50) NULL,
	[hours_per_week] [int] NULL,
	[salary_payment_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_no] [int] NOT NULL,
	[supplier_name] [varchar](100) NULL,
	[supplier_address] [varchar](255) NULL,
	[supplier_tel] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[item_no] [int] NOT NULL,
	[item_name] [varchar](100) NULL,
	[item_description] [varchar](255) NULL,
	[quantity_in_stock] [int] NULL,
	[reorder_level] [int] NULL,
	[cost_per_unit] [decimal](10, 2) NULL,
	[supplier_no] [int] NULL,
	[supply_type] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaitingList]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaitingList](
	[waitinglist_no] [int] NOT NULL,
	[patient_no] [int] NULL,
	[ward_no] [int] NULL,
	[status] [varchar](50) NULL,
	[time] [time](7) NULL,
	[date_placed] [date] NULL,
	[EAO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[waitinglist_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[ward_no] [int] NOT NULL,
	[charge_nurse_no] [int] NULL,
	[location] [varchar](100) NULL,
	[total_beds] [int] NULL,
	[extension_number] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ward_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperience]    Script Date: 3/7/2026 2:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperience](
	[experience_id] [int] NOT NULL,
	[staff_no] [int] NULL,
	[organization_name] [varchar](100) NULL,
	[position] [varchar](50) NULL,
	[start_date] [date] NULL,
	[finish_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[experience_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientAppointments]  WITH CHECK ADD FOREIGN KEY([patient_no])
REFERENCES [dbo].[Patients] ([patient_no])
GO
ALTER TABLE [dbo].[PatientAppointments]  WITH CHECK ADD FOREIGN KEY([staff_no])
REFERENCES [dbo].[Staff] ([staff_no])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([clinic_no])
REFERENCES [dbo].[Clinics] ([clinic_no])
GO
ALTER TABLE [dbo].[PerformanceWards]  WITH CHECK ADD FOREIGN KEY([staff_no])
REFERENCES [dbo].[Staff] ([staff_no])
GO
ALTER TABLE [dbo].[PerformanceWards]  WITH CHECK ADD FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[Pharmaceuticals]  WITH CHECK ADD FOREIGN KEY([supplier_no])
REFERENCES [dbo].[Suppliers] ([supplier_no])
GO
ALTER TABLE [dbo].[Qualifications]  WITH CHECK ADD FOREIGN KEY([staff_no])
REFERENCES [dbo].[Staff] ([staff_no])
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD FOREIGN KEY([drug_no])
REFERENCES [dbo].[Pharmaceuticals] ([drug_no])
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD FOREIGN KEY([item_no])
REFERENCES [dbo].[Supplies] ([item_no])
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD FOREIGN KEY([staff_no])
REFERENCES [dbo].[Staff] ([staff_no])
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD FOREIGN KEY([supplier_no])
REFERENCES [dbo].[Suppliers] ([supplier_no])
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD FOREIGN KEY([patient_no])
REFERENCES [dbo].[Patients] ([patient_no])
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD FOREIGN KEY([ward_no])
REFERENCES [dbo].[Wards] ([ward_no])
GO
ALTER TABLE [dbo].[WorkExperience]  WITH CHECK ADD FOREIGN KEY([staff_no])
REFERENCES [dbo].[Staff] ([staff_no])
GO
USE [master]
GO
